.HorizontalScrollCard {
  $transition-duration: 0.7s;
  $transition-function: ease-out;
  .text {
    transition: opacity $transition-duration $transition-function;
    opacity: 0%;
  }

  &:hover {
    .text {
      transition: opacity $transition-duration $transition-function;
      opacity: 100%;
    }
  }
}
